.InputField
    display: flex
    flex-direction: column
    gap: 5px

    label
        font-weight: 800

    input
        font-size: 1.2em
        width: 100%
        padding: 10px
        background: white
        color: black
        border: 1px solid black
        border-radius: 5px
        box-shadow: rgb(204, 219, 232) 1px 1px 3px 0px inset, rgba(255, 255, 255, 0.219) -1px -1px 3px 1px inset

.Buttons
    display: grid
    grid-template-columns: 1fr 1fr
    margin-top: 5px
    gap: 5px

    button
        width: 100%
        padding: 10px
        background: white
        border: 1px solid black
        border-radius: 5px